.detail-footer {
  background-image: radial-gradient(circle at 67% 83%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 1%,transparent 1%, transparent 5%,transparent 5%, transparent 100%),radial-gradient(circle at 24% 80%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 27%,transparent 27%, transparent 63%,transparent 63%, transparent 100%),radial-gradient(circle at 23% 5%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 26%,transparent 26%, transparent 82%,transparent 82%, transparent 100%),radial-gradient(circle at 21% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 35%,transparent 35%, transparent 45%,transparent 45%, transparent 100%),radial-gradient(circle at 10% 11%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 21%,transparent 21%, transparent 81%,transparent 81%, transparent 100%),radial-gradient(circle at 19% 61%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 20%,transparent 20%, transparent 61%,transparent 61%, transparent 100%),radial-gradient(circle at 13% 77%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 63%,transparent 63%, transparent 72%,transparent 72%, transparent 100%),radial-gradient(circle at 30% 93%, hsla(317,0%,96%,0.05) 0%, hsla(317,0%,96%,0.05) 33%,transparent 33%, transparent 82%,transparent 82%, transparent 100%),linear-gradient(333deg, rgb(129,87,247),rgb(153,92,247));
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 50px 0px;
  position: relative;
}

.detail-footer .first-item h5{
  color: #fff;
  text-align: left;
}

.detail-footer .first-item .contact-img-container {
  display: flex;
}

.detail-footer .first-item .contact-img{
  height: 30px;
  width: 30px;
  margin-right: 10px;
  margin-top: 10px;
}

.detail-footer .section-heading {
  text-align: left;
  margin-bottom: 50px;
}

.detail-footer .item {
  margin-top: 30px;
  position: relative;
}

.detail-footer .item .icon {
  width: 62px;
  height: 62px;
  text-align: center;
  line-height: 62px;
  background-color: #fff;
  border-radius: 50%;
}

.detail-footer .item .icon img {
  max-width: 31px;
}

.detail-footer .info-text {
  margin-top: 15px;
  margin-bottom: 15px;
  margin-right: 15px;
}

.detail-footer p {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}

.detail-footer .second-item iframe{
  margin-top: 15px;
  height: 20rem !important;
}

.detail-footer .contact-info .contact-svg{
  margin-top: 5px;
  margin-right: 5px;
}

.detail-footer .section-heading h2 {
  margin-top: 10px;
  line-height: 36px;
  font-size: 30px;
  font-weight: 700;
  text-transform: capitalize;
  color: #fff;
  border-bottom: 3px solid white;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(#eee, #eb7a2a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent
}

@media only screen and (max-width: 768.9px) {
  .detail-footer .item {
    text-align: center;
    margin-top: 45px;
  }
  
  .detail-footer .item .icon {
    display: inline-block;
  }

  .detail-footer .section-heading h2 {
    text-wrap: nowrap;
    font-size: larger;
  }

  .detail-footer .contact-info {
    text-align: center;
  }

  .detail-footer .info-text {
    text-align: center;
  }

  .detail-footer .first-item h5{
    text-align: center;
  }

  .detail-footer .first-item .contact-img-container {
    justify-content: center;
  }
}